.home {
  opacity: 0.3;
}
.home,
.ourApp {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 16.3px;
  font-weight: 500;
  display: inline-block;
  width: 160px;
  flex-shrink: 0;
}
.homeParent {
  position: absolute;
  top: 51px;
  left: 582px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.desktop2Inner,
.image23Icon {
  position: absolute;
  top: 0;
  height: 120px;
}
.desktop2Inner {
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
}
.image23Icon {
  left: 146px;
  width: 120px;
  object-fit: cover;
}
.quickLinks {
  font-weight: 600;
}
.community,
.quickLinks {
  position: relative;
  line-height: 110%;
}
.communityParent,
.quickLinksParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.quickLinksParent {
  width: 200px;
  flex-shrink: 0;
  gap: var(--gap-5xl);
}
.image43Traced {
  position: relative;
  width: 20.01px;
  height: 20px;
  flex-shrink: 0;
}
.frameDiv,
.image43TracedWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image43TracedWrapper {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-md);
  box-sizing: border-box;
}
.frameDiv {
  flex-direction: row;
  gap: var(--gap-lg);
}
.image44Traced {
  position: relative;
  width: 10.86px;
  height: 20px;
  flex-shrink: 0;
}
.image44TracedWrapper {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.vectorIcon,
.vectorIcon1 {
  position: relative;
  width: 25px;
  height: 17px;
  flex-shrink: 0;
}
.vectorIcon1 {
  width: 23px;
  height: 19px;
}
.followUsParent,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.followUsParent {
  width: 158px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.frameGroup {
  position: absolute;
  top: 59px;
  left: 814px;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.image49Icon {
  position: relative;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameWrapper {
  position: absolute;
  top: 245px;
  left: 428px;
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.image24Icon {
  position: absolute;
  top: 59px;
  left: 145px;
  width: 184px;
  height: 127px;
  object-fit: cover;
}
.clockTowerSecond {
  margin-block-start: 0;
  margin-block-end: 0;
}
.clockTowerSecondContainer {
  position: relative;
  line-height: 198.5%;
  display: inline-block;
  width: 284px;
}
.navigationMapPin {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.viewOnMaps {
  position: relative;
  line-height: 140%;
}
.navigationMapPinParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.clockTowerSecondBazaarMaruParent,
.frameWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper1 {
  border-radius: var(--br-5xl);
  background-color: var(--color-gray-400);
  width: 183px;
  padding: var(--padding-md);
  box-sizing: border-box;
}
.clockTowerSecondBazaarMaruParent {
  position: absolute;
  top: 56px;
  left: 428px;
  gap: var(--gap-2xl);
}
.cIcon {
  position: relative;
  width: 8.4px;
  height: 9.8px;
  flex-shrink: 0;
}
.cWrapper,
.frameParent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cWrapper {
  border-radius: var(--br-xl);
  border: 0.7px solid var(--color-white);
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  padding: var(--padding-xs);
  justify-content: center;
}
.frameParent4 {
  position: absolute;
  top: 212px;
  left: 145px;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
}
.frameParent {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 374px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.frameChild {
  position: relative;
  border-radius: var(--br-4xl);
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameParent5 {
  position: absolute;
  top: 1517px;
  left: 146px;
  width: 1148px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.ellipseIcon {
  position: absolute;
  top: 234px;
  left: 34px;
  width: 1372px;
  height: 980px;
  opacity: 0.05;
}
.downloadOurAndroid,
.downloadTheTkt {
  position: absolute;
  letter-spacing: 0.41px;
}
.downloadTheTkt {
  top: 180px;
  left: 146px;
  line-height: 44px;
  display: inline-block;
  width: 640px;
}
.downloadOurAndroid {
  top: 102px;
  left: 142px;
  font-size: 24px;
  line-height: 64px;
  font-weight: 600;
  color: var(--color-gray-100);
}
.image47Icon {
  position: absolute;
  top: 299px;
  left: 144px;
  width: 360px;
  height: 106px;
  object-fit: cover;
}
.image2Icon,
.image48Icon {
  position: absolute;
  left: 0;
  object-fit: cover;
}
.image48Icon {
  top: 452px;
  width: 1758px;
  height: 1525px;
  opacity: 0.07;
}
.image2Icon {
  top: -74.54px;
  width: 366.14px;
  height: 331.12px;
}
.moreInfo {
  position: relative;
  line-height: 12.8px;
  font-weight: 500;
}
.image6Icon {
  position: relative;
  border-radius: var(--br-6xs);
  width: 280.42px;
  height: 127.2px;
  flex-shrink: 0;
  object-fit: cover;
}
.praesentMaecenasMetus {
  margin: 0;
}
.loremIpsumDolorContainer {
  position: relative;
  font-size: var(--font-size-5xs);
  line-height: 12.8px;
  font-weight: 300;
  display: inline-block;
  width: 259.2px;
}
.moreInfoParent {
  position: absolute;
  top: 232px;
  left: 14.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.loremIpsumDolorContainer1 {
  position: absolute;
  top: 59.2px;
  left: 14.4px;
  font-size: var(--font-size-5xs);
  line-height: 12.8px;
  font-weight: 300;
  display: inline-block;
  width: 259.2px;
}
.joinUs {
  position: relative;
  letter-spacing: 1.6px;
  line-height: 12.8px;
  text-transform: uppercase;
  font-weight: 500;
}
.instanceWrapper,
.joinUsWrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.joinUsWrapper {
  border-radius: var(--br-6xs);
  background: linear-gradient(91.56deg, #ffa318, #c77c0c);
  width: 259.2px;
  height: 35.2px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-sm);
  justify-content: center;
}
.instanceWrapper {
  position: absolute;
  top: 329.6px;
  left: 0;
  background-color: #0f1013;
  border-top: 0.8px solid #1d1d1d;
  width: 288px;
  height: 76.8px;
  flex-direction: column;
  padding: 19.200000762939453px var(--padding-sm);
  justify-content: flex-start;
  text-align: justify;
  font-size: var(--font-size-3xs);
}
.eFamily {
  position: absolute;
  top: 27.2px;
  left: 14.4px;
  font-size: 19.2px;
  line-height: 12.8px;
  font-weight: 600;
  text-align: center;
}
.frameParent6 {
  position: absolute;
  top: 233.6px;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  box-shadow: 0-6.400000095367432px 12.8px rgba(0, 0, 0, 0.5);
  width: 288px;
  height: 406.4px;
  overflow: hidden;
  text-align: left;
}
.arrowChevronLeftMd {
  position: relative;
  width: 29.39px;
  height: 29.39px;
  flex-shrink: 0;
  overflow: hidden;
}
.emojiIcon {
  position: relative;
  width: 18.4px;
  height: 18.4px;
  flex-shrink: 0;
  display: none;
}
.arrowChevronLeftMdParent {
  position: absolute;
  top: 46.4px;
  left: 16.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.androidLarge3Inner {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9), transparent);
  width: 288px;
  height: 88.8px;
  overflow: hidden;
}
.div,
.notchIcon {
  position: absolute;
}
.notchIcon {
  top: 0;
  left: calc(50% - 144px);
  width: 0;
  height: 0;
}
.div {
  top: 0.8px;
  left: 0;
  letter-spacing: -0.33px;
  line-height: 17.6px;
  font-weight: 500;
  display: inline-block;
  width: 43.2px;
  height: 16px;
}
.leftSide,
.rightSideIcon,
.statusbarTime {
  position: absolute;
  width: 43.2px;
  height: 16.8px;
}
.statusbarTime {
  top: 0;
  left: calc(50% - 21.6px);
  border-radius: var(--br-lg);
}
.leftSide,
.rightSideIcon {
  top: 10.4px;
  left: calc(50% - 128.8px);
}
.rightSideIcon {
  top: -55.54px;
  left: calc(50% + 59.09px);
  width: 62.5px;
  height: 26.07px;
}
.statusbarIphone13Child {
  top: 37.6px;
  background: linear-gradient(180deg, #000, transparent);
  height: 64.8px;
}
.androidLarge3,
.statusbarIphone13,
.statusbarIphone13Child {
  position: absolute;
  left: 0;
  width: 288px;
  overflow: hidden;
}
.statusbarIphone13 {
  top: 0;
  height: 37.6px;
  font-size: var(--font-size-3xs);
}
.androidLarge3 {
  top: 238.54px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 640px;
  transform: rotate(-15deg);
  transform-origin: 0 0;
}
.doYourBit {
  position: relative;
  line-height: 14.4px;
  font-weight: 600;
  display: inline-block;
  width: 148.8px;
}
.subtractIcon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.doYourBitByDonatingAPartParent {
  position: absolute;
  top: 15.2px;
  left: 13.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.cashPaymentbroIcon {
  position: absolute;
  height: 94.42%;
  width: 28.95%;
  top: 72.23%;
  right: 12.7%;
  bottom: -66.65%;
  left: 58.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameParent9 {
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(117.8deg, #2bcd93, #007644);
  width: 264px;
  height: 104px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobileLoginbroIcon {
  position: absolute;
  height: 104.63%;
  width: 39.89%;
  top: 67.32%;
  right: 10.43%;
  bottom: -71.96%;
  left: 49.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameParent10,
.frameWrapper3 {
  width: 264px;
  height: 104px;
  flex-shrink: 0;
}
.frameParent10 {
  position: relative;
}
.frameWrapper3 {
  border-radius: var(--br-4xs);
  background: linear-gradient(117.8deg, #6333ea, #2d0c72);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.watchOurSermons {
  position: relative;
  line-height: 14.4px;
  font-weight: 600;
  display: inline-block;
  width: 124px;
}
.presidentsDaybroIcon {
  position: absolute;
  top: 17.6px;
  left: 191.2px;
  width: 57.55px;
  height: 86.4px;
  overflow: hidden;
}
.frameParent11 {
  position: relative;
  border-radius: var(--br-4xs);
  background: linear-gradient(117.8deg, #fa3030, #a11212);
  width: 264px;
  height: 104px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameParent8,
.frameWrapper4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameWrapper4 {
  height: 96px;
  flex-shrink: 0;
  align-items: flex-start;
}
.frameParent8 {
  position: absolute;
  top: 148px;
  left: 12px;
  align-items: flex-end;
  gap: var(--gap-2xs);
}
.icon,
.label {
  position: relative;
}
.icon {
  border-radius: var(--br-5xs);
  width: 43.2px;
  height: 25.6px;
  flex-shrink: 0;
}
.label {
  letter-spacing: 0.32px;
  line-height: 12.8px;
  display: inline-block;
  width: 72px;
  opacity: 0.9;
}
.iconParent,
.materialYouTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.iconParent {
  gap: var(--gap-5xs);
}
.materialYouTab {
  flex: 1;
  height: 64px;
  overflow: hidden;
  padding: var(--padding-lg) 0;
  box-sizing: border-box;
  opacity: 0.65;
}
.label1 {
  position: relative;
  letter-spacing: 0.32px;
  line-height: 12.8px;
  font-weight: 500;
  display: inline-block;
  width: 72px;
  opacity: 0.9;
}
.materialYouTab1,
.tabs {
  height: 64px;
  display: flex;
  align-items: center;
}
.materialYouTab1 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lg) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  color: var(--color-orange-200);
}
.tabs {
  align-self: stretch;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.rectangle {
  position: absolute;
  top: 6.4px;
  left: calc(50% - 25.6px);
  border-radius: 25.6px;
  background-color: var(--color-white);
  width: 51.2px;
  height: 1.6px;
  opacity: 0.3;
}
.gestureNavigation1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.gestureNavigation {
  align-self: stretch;
  position: relative;
  height: 11.2px;
  flex-shrink: 0;
}
.materialYouBottomNavigation {
  position: absolute;
  top: 471.2px;
  left: 0;
  background: linear-gradient(180deg, transparent, #000 65.37%);
  width: 288px;
  height: 75.2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-8xs);
}
.frameChild1,
.frameParent7 {
  position: absolute;
  top: 128.29px;
  left: -22.37px;
  width: 264px;
  height: 69.87px;
}
.frameParent7 {
  top: 93.6px;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  width: 288px;
  height: 580.8px;
  overflow: hidden;
}
.samuelPattaMinistries {
  position: absolute;
  top: 45.6px;
  left: 12.8px;
  letter-spacing: 0.33px;
  line-height: 13.04px;
  font-weight: 600;
}
.image22Icon {
  position: absolute;
  top: 16.51px;
  left: 31.81px;
  width: 223.19px;
  height: 152.28px;
  object-fit: cover;
}
.samuelPattaMinistriesParent {
  position: absolute;
  top: 105.6px;
  left: 12px;
  border-radius: 6.52px;
  background-color: #161616;
  border: 0.8px solid var(--color-white);
  box-sizing: border-box;
  width: 264px;
  height: 104px;
  overflow: hidden;
}
.rightSideIcon1 {
  position: absolute;
  top: 67.33px;
  left: calc(50% + 48.95px);
  width: 62.5px;
  height: 26.07px;
}
.statusbarIphone131 {
  position: absolute;
  top: 0;
  left: 0;
  width: 288px;
  height: 37.6px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.explore {
  position: relative;
  letter-spacing: 0.32px;
  line-height: 12.8px;
  font-weight: 600;
}
.emojiParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6.4px;
}
.rectangleIcon {
  position: relative;
  border-radius: var(--br-6xs);
  width: 28.8px;
  height: 28.8px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0;
}
.frameParent12 {
  position: absolute;
  top: 45.6px;
  left: 14.4px;
  width: 259.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xs);
}
.androidLarge30 {
  position: absolute;
  top: 164px;
  left: 623.64px;
  border-radius: var(--br-xs);
  background-color: var(--color-black);
  width: 288px;
  height: 640px;
  overflow: hidden;
  transform: rotate(15deg);
  transform-origin: 0 0;
  text-align: left;
  font-size: var(--font-size-5xs);
}
.image2Icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 324px;
  height: 215px;
  object-fit: cover;
}
.thSept2023 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.thSept2023Wrapper {
  border-radius: var(--br-7xs);
  background-color: rgba(28, 6, 5, 0.5);
  display: flex;
  flex-direction: row;
  padding: 2px var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
}
.worshipNight {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 4px;
  line-height: 16px;
  font-weight: 500;
}
.frameParent15 {
  position: absolute;
  top: 21px;
  left: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.frameWrapper5 {
  position: absolute;
  top: 70px;
  left: 0;
  background: linear-gradient(180deg, transparent 35.93%, #000);
  width: 324px;
  height: 82px;
  overflow: hidden;
}
.image2Parent {
  position: relative;
  border-radius: var(--br-sm);
  background-color: #ffe2e8;
  width: 324px;
  height: 152px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameChild2,
.rectangleDiv {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-orange-200);
  width: 18px;
  height: 6px;
  flex-shrink: 0;
}
.frameChild2 {
  width: 6px;
  opacity: 0.15;
}
.frameParent14,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frameParent14 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-3xs);
}
.goodFriday,
.upcomingEvents,
.weInviteEveryone {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.upcomingEvents {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.goodFriday,
.weInviteEveryone {
  font-weight: 600;
}
.weInviteEveryone {
  font-size: var(--font-size-6xs);
  font-weight: 300;
  font-family: var(--font-poppins);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 298px;
  opacity: 0.8;
}
.goodFridayParent {
  position: absolute;
  top: 11px;
  left: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: rgba(255, 190, 24, 0.05);
  width: 35px;
  height: 19.01px;
}
.groupItem {
  position: absolute;
  top: 1.73px;
  left: 1.3px;
  border-radius: var(--br-md);
  background-color: var(--color-orange-200);
  width: 15.56px;
  height: 15.56px;
}
.rectangleGroup {
  position: absolute;
  top: 70px;
  left: 15px;
  width: 35px;
  height: 19.01px;
}
.setReminder {
  position: absolute;
  top: 72px;
  left: 61px;
  font-size: var(--font-size-6xs);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-weight: 300;
  font-family: var(--font-poppins);
  color: var(--color-whitesmoke);
  opacity: 0.8;
}
.frameParent17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 324px;
  height: 101px;
  overflow: hidden;
}
.mainComplex {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
  font-weight: 300;
}
.navigationMapPinGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.calendarCalendar {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameParent18 {
  position: absolute;
  top: 13px;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frameWrapper6 {
  position: absolute;
  top: 99px;
  left: 0;
  border-radius: var(--br-2xs) var(--br-2xs) var(--br-5xs) var(--br-5xs);
  background-color: var(--color-gray-200);
  width: 324px;
  height: 45px;
  overflow: hidden;
  font-size: var(--font-size-7xs);
  font-family: var(--font-poppins);
}
.frameParent16 {
  position: relative;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 324px;
  height: 144px;
  flex-shrink: 0;
  overflow: hidden;
}
.groupChild1,
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-orange-200);
  width: 35px;
  height: 19.01px;
}
.groupChild1 {
  top: 2px;
  left: 18px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  width: 15.56px;
  height: 15.56px;
}
.frameParent13,
.upcomingEventsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.upcomingEventsParent {
  gap: 18px;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.frameParent13 {
  position: absolute;
  top: 18px;
  left: 18px;
  gap: var(--gap-3xl);
}
.androidLarge20Inner {
  position: absolute;
  top: 117px;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-gray-100);
  width: 360px;
  height: 683px;
  overflow: hidden;
}
.icon4,
.label4 {
  position: relative;
}
.icon4 {
  border-radius: var(--br-3xs);
  width: 54px;
  height: 32px;
  flex-shrink: 0;
}
.label4 {
  letter-spacing: 0.4px;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  width: 90px;
  opacity: 0.9;
}
.iconParent2,
.materialYouTab4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.iconParent2 {
  gap: var(--gap-4xs);
}
.materialYouTab4 {
  flex: 1;
  height: 80px;
  overflow: hidden;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  color: var(--color-orange-200);
}
.label5 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: inline-block;
  width: 90px;
  opacity: 0.9;
}
.materialYouTab5,
.tabs1 {
  height: 80px;
  display: flex;
  align-items: center;
}
.materialYouTab5 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  opacity: 0.65;
}
.tabs1 {
  align-self: stretch;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.rectangle1 {
  position: absolute;
  top: 8px;
  left: calc(50% - 32px);
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 64px;
  height: 2px;
  opacity: 0.3;
}
.gestureNavigation2 {
  align-self: stretch;
  position: relative;
  height: 14px;
  flex-shrink: 0;
}
.materialYouBottomNavigation1 {
  position: absolute;
  top: 706px;
  left: 0;
  background: linear-gradient(180deg, transparent, #000 65.37%);
  width: 360px;
  height: 94px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-4xs);
}
.notchIcon2 {
  position: absolute;
  top: 0;
  left: calc(50% - 180px);
  width: 0;
  height: 0;
}
.div2,
.statusbarTime2 {
  position: absolute;
  width: 54px;
}
.div2 {
  top: 1px;
  left: 0;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  height: 20px;
}
.statusbarTime2 {
  top: 0;
  left: calc(50% - 27px);
  border-radius: var(--br-3xl);
  height: 21px;
}
.leftSide2,
.rightSideIcon2 {
  position: absolute;
  top: 13px;
  left: calc(50% - 161px);
  width: 54px;
  height: 21px;
}
.rightSideIcon2 {
  top: 18px;
  left: calc(50% + 78px);
  width: 77.4px;
  height: 13px;
}
.statusbarIphone132 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 47px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.emojiIcon2 {
  position: relative;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
}
.sagar {
  font-weight: 600;
}
.helloSagar {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.androidLarge20Child {
  position: absolute;
  top: 63px;
  left: 18px;
  width: 324px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.androidLarge20 {
  position: absolute;
  top: 0;
  left: 271px;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  box-shadow: 4px 4px 36px rgba(0, 0, 0, 0.4);
  width: 360px;
  height: 800px;
  overflow: hidden;
  font-size: var(--font-size-7xs);
}
.androidLarge3Parent {
  position: absolute;
  top: 494px;
  left: 269px;
  width: 901.83px;
  height: 856.73px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.ellipseParent {
  position: absolute;
  top: 120px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1173px;
  overflow: hidden;
  color: rgba(15, 15, 15, 0.7);
}
.hereAreThe,
.keyFeaturesOf {
  position: relative;
  letter-spacing: 0.41px;
}
.keyFeaturesOf {
  line-height: 64px;
  font-weight: 600;
}
.hereAreThe {
  font-size: var(--font-size-xl);
  line-height: 44px;
  display: inline-block;
  width: 567px;
}
.keyFeaturesOfAppParent {
  position: absolute;
  top: 1355px;
  left: 147px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--font-size-2xl);
}
.eventReminders {
  position: absolute;
  top: 1788px;
  left: 155px;
  letter-spacing: 0.41px;
  line-height: 44px;
  text-align: center;
  display: inline-block;
  width: 227px;
}
.accessServices,
.exploreCommunities,
.watchSermons {
  position: absolute;
  top: 1788px;
  left: 458px;
  letter-spacing: 0.41px;
  line-height: 44px;
}
.exploreCommunities,
.watchSermons {
  left: 756px;
}
.exploreCommunities {
  left: 1048px;
  text-align: center;
  display: inline-block;
  width: 240px;
}
.desktop2 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 2297px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
