.frameParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.groupParent {
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 4720px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}

.frameParent1 {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--color-blue);
  width: 100%;
  height: 603px;
  overflow: hidden;
  font-size: 84px;
}

.samuelPattaMinistries {
  position: relative;
  line-height: 106px;
  font-weight: 600;
  display: inline-block;
  width: 637px;
  font-size: 65px;
}

.samuelPattaMinistriesParent {
  position: absolute;
  top: 141px;
  left: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}

.becomeMember {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 16.3px;
  font-weight: 500;
}

.becomeMemberWrapper {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 340px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-blue);
  cursor: pointer;
}

.image51Icon {
  position: absolute;
  top: 50px;
  left: 750px;
  width: 550px;
  height: 550px;
  object-fit: cover;
}

.frameWrapper2 {
  position: absolute;
  top: 700px;
  left: 0;
  background-color: var(--color-gray-100);
  flex-direction: row;
  font-size: 64px;
  width: 100%;
}

.frameParent8 {
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 50px 100px;
}

.frameWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.quickLinksParent {
  width: 200px;
  flex-shrink: 0;
  gap: var(--gap-xl);
}

.communityParent,
.quickLinksParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}

.exploreMinistries,
.weHaveA {
  position: relative;
  letter-spacing: 0.41px;
}

.exploreMinistries {
  line-height: 64px;
  font-weight: 600;
  font-size: 50px;
}

.weHaveA {
  font-size: var(--font-size-sm);
  line-height: 44px;
  display: inline-block;
  width: 661px;
}

.frameParent8,
.frameParent9,
.frameWrapper2 {
  display: flex;

  justify-content: flex-start;
}

.frameParent9 {
  flex-direction: column;
  gap: var(--gap-lg);
  font-size: var(--font-size-lg);
}

.pdf1Parent {
  border-radius: 24px;
  background-color: var(--color-black);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 36px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.pdf1Icon {
  position: relative;
  border-radius: var(--br-sm);
  width: 436px;
  height: 372px;
  flex-shrink: 0;
  object-fit: cover;
}

.frameParent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}

.connectWithA,
.lifeGroupsAreContainer {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 52px;
  display: inline-block;
  width: 579px;
}

.connectWithA {
  font-weight: 600;
}

.lifeGroupsAreContainer {
  font-size: 20px;
  color: var(--color-gray-400);
}

.clockTowerSecond {
  margin-block-start: 0;
  margin-block-end: 0;
}

.readMoreWrapper {
  border-radius: 12px;
  background: linear-gradient(92.64deg, #ffbe18, #ff9518);
  width: 330px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}

.becomeMember {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 16.3px;
  font-weight: 500;
}
